/cfg/
/bin/
/lib/
/db/
/dbd/
/html/
/include/
/templates/
/configure/*.local
/configure/RELEASE.*
/configure/CONFIG_SITE.*
/documentation/html
/documentation/*.tag
O.*/
/QtC-*
envPaths
*.orig
*.log
.*.swp
