#!/usr/bin/make -f
# -*- makefile -*-

export DH_VERBOSE=1

ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
NUMJOBS = $(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
BMAKEFLAGS += -j$(NUMJOBS)
endif

ifeq "$(DEB_BUILD_ARCH)" "i386"
EPICS_HOST_ARCH:=linux-x86
else ifeq "$(DEB_BUILD_ARCH)" "amd64"
EPICS_HOST_ARCH:=linux-x86_64
else
EPICS_HOST_ARCH:=$(shell ./startup/EpicsHostArch)
endif
export EPICS_HOST_ARCH

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

TARGETS += RTEMS-mvme2100
TARGETS += RTEMS-mvme2307
TARGETS += RTEMS-mvme3100
TARGETS += RTEMS-mvme5500
TARGETS += RTEMS-pc386

export CROSS_COMPILER_TARGET_ARCHS = $(TARGETS)
# chop out the source version from Changelog (ie 3.14.12)
# Taken from CDBS
DEB_VERSION = $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ')
DEB_NOEPOCH_VERSION = $(shell echo $(DEB_VERSION) | cut -d: -f2-)
DEBV=$(shell echo "$(DEB_NOEPOCH_VERSION)"| cut -f '2-' -d '-')

binary binary-arch binary-indep build install clean:
	dh $@ --with epics -Sepicsmake --parallel
install: build
binary-arch binary-indep: install
binary: binary-arch binary-indep

override_dh_auto_clean:
	dh_auto_clean
	rm -rf configure/conf.d

override_dh_auto_build:
	install -d configure/conf.d
	./debian/gen-harden.sh > configure/conf.d/05hardening.make
	dh_auto_build -- USE_GESYS=YES FINAL_LOCATION=/usr/lib/epics EPICS_SITE_VERSION=$(DEBV)

override_dh_auto_install:
	dh_auto_install -- USE_GESYS=YES FINAL_LOCATION=/usr/lib/epics EPICS_SITE_VERSION=$(DEBV)

override_dh_auto_test: # skip host tests

override_dh_install:
	rm -rf $(CURDIR)/debian/tmp/usr/lib/epics/bin/*/*.o

	rm -rf $(CURDIR)/debian/tmp/usr/lib/epics/bin/$(EPICS_HOST_ARCH)
	rm -rf $(CURDIR)/debian/tmp/usr/lib/epics/lib/$(EPICS_HOST_ARCH)
	rm -rf $(CURDIR)/debian/tmp/usr/lib/epics/lib/perl
	rm -rf $(CURDIR)/debian/tmp/usr/lib/epics/configure
	rm -rf $(CURDIR)/debian/tmp/usr/lib/epics/db*
	rm -rf $(CURDIR)/debian/tmp/usr/lib/epics/html
	rm -rf $(CURDIR)/debian/tmp/usr/lib/epics/startup
	rm -rf $(CURDIR)/debian/tmp/usr/lib/epics/templates
	rm -f $(CURDIR)/debian/tmp/usr/lib/epics/include/*.*
	rm -rf $(CURDIR)/debian/tmp/usr/lib/epics/include/os/Linux
	rm -rf $(CURDIR)/debian/tmp/usr/lib/epics/include/compiler
	rm -f $(CURDIR)/debian/tmp/usr/lib/epics/lib/pkgconfig/epics-base-linux-x86_64.pc
	rm -f $(CURDIR)/debian/tmp/usr/lib/epics/lib/pkgconfig/epics-base.pc

	chmod a-x $(CURDIR)/debian/tmp/usr/lib/epics/bin/RTEMS-*/libComTestHarness*
	chmod a-x $(CURDIR)/debian/tmp/usr/lib/epics/bin/RTEMS-*/softIoc*

	install -d debian/tmp/etc/epics/configure/conf.d
	cp configure/conf.d/05hardening.make debian/tmp/etc/epics/configure/conf.d/

	for tt in $(TARGETS) ; do \
		echo "ALL_CROSS_COMPILER_TARGET_ARCHS += $${tt}" > debian/tmp/etc/epics/configure/conf.d/05$${tt}.make; \
	done

	rm -rf debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/lib*

	dh_install --fail-missing

override_dh_installdocs:
	dh_installdocs -A README
