# Revision-Id: jba@aps.anl.gov-20120831185254-irpn190wepwlu5tj

include $(CONFIG)/RULES
include $(TOP)/configure/RULES_PYTHON
include $(TOP)/configure/RULES_IDL
ifdef BASE_3_15
include $(TOP)/configure/RULES_JAVA
endif
